*.log
*.json
!config.json
*.py
!bot.py
*.html
*.txt
!data.txt
*.js
env
session
sessions
*.session
__pycache__
flows*
*-*
disin
!config.json
!proxies.txt
!requirements.txt
1
2
3
4
5
!models.py
!report.py
